subject = "Lenke for tilbakestilling av passord"
description = "Bruker har bedt om å tilbakestille passordet"
==
# Hei {{ first_name }}

Du får denne e-posten fordi noen har bedt om nytt passord for kontoen din. Var det ikke deg, kan du se bort fra denne e-posten.

{% partial 'button' url=url body %}
Tilbakestill passord
{% endpartial %}

Lenken er gyldig i {{ count }} minutter.

{% partial 'subcopy' body %}
Hvis knappen ikke virker, kopier lenken under inn i nettleseren.

<span class="break-all">{{ url|raw }}</span>
{% endpartial %}
