subject = "Slaptažodžio atkūrimo nuoroda"
description = "Naudotojas paprašė atkurti slaptažodį"
==
# Sveiki, {{ first_name }}!

Šį laišką gaunate todėl, kad jūsų paskyrai buvo paprašyta atkurti slaptažodį. Jei to nedarėte jūs, laišką galite tiesiog ignoruoti.

{% partial 'button' url=url body %}
Atkurti slaptažodį
{% endpartial %}

Nuoroda galios {{ count }} minutes.

{% partial 'subcopy' body %}
Jei mygtukas neveikia, nukopijuokite žemiau esančią nuorodą į naršyklę.

<span class="break-all">{{ url|raw }}</span>
{% endpartial %}
