{% set bAwaitingPayment = order.status_id in [1, 2, 6, 7] %}
{% set bOrderPaid = order.status_id in [3, 5, 8] %}
{% set bOrderCanceled = order.status_id == 4 %}
{% set sProformaUrl = url("/")~'/proforma/'~order.secret_key %}

** {{ 'Thank you for your order!'|_ }} **
{{ order.status.name }}

<div class="row equal">
    {% if order.property.out_of_stock %}
        <div class="mb-20 col-lg-12 text-center">
            <h3>{{ 'Shortly we will send your proforma invoice your to e-mail'|_ }}.</h3>
        </div>
    {% elseif bAwaitingPayment %}
        <div class="mb-20 col-lg-12 text-center">
            <h3>{{ order.status.preview_text }}</h3>
        </div>
        <div class="col-lg-6 mb-10 equal">
            <div class="alert border" role="alert">
                {% partial 'bankdetails' account_type=order.property.account_type number=order.order_number symbol=order.currency_symbol price=order.total_price %}
            </div>
        </div>
        {% partial 'buttons' body='Open proforma'|_ body2='Print proforma'|_ url=sProformaUrl url2=sProformaUrl~'/print' type='primary' %}
    {% elseif bOrderPaid %}
        <div class="col-lg-6 mb-10 equal">
            <div class="alert border" role="alert">
                <div class="mb-20 col-lg-12 text-center">
                    <h3>{{ order.status.preview_text }}</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-10 equal">
            <div class="alert border" role="alert">
                {% partial 'buttons' body='Open proforma'|_ body2='Print proforma'|_ url=sProformaUrl url2=sProformaUrl~'/print' type='primary' %}
            </div>
        </div>
    {% elseif bOrderCanceled %}
        <div class="mb-20 col-lg-12 text-center">
            <h3>{{ order.status.preview_text }}<br></h3>
        </div>
    {% endif %}
</div>


**{{ 'Shipping'|_ }}**: {{ order.shipping_type.name }}<br>
{% if order.property.shipping_address2 is not empty %}
    {{ order.property.shipping_address2|replace({'undefined': ' ', 'NaN': ' ', '- BEZMAKSAS': ' '}) }}<br>
{% endif %}
{% if order.property.shipping_address1 %}
    {{ order.property.shipping_address1 }}<br>
{% endif %}
{% if order.property.shipping_city %}
    {{ order.property.shipping_city }}<br>
{% endif %}
{% if order.property.shipping_state %}
    {{ order.property.shipping_state }}<br>
{% endif %}
{% if order.property.shipping_country %}
    {{ order.property.shipping_country }}<br>
{% endif %}
{% if order.property.shipping_postcode %}
    {{ order.property.shipping_postcode }}<br>
{% endif %}


**{{ 'Payment Method'|_ }}**: {{ order.payment_method.name }}<br>


{% partial 'button' body='The status of your order'|_ url=url("/")~'/checkout/'~order.secret_key type='primary' %}


{% for obOrderPosition in order.order_position %}
    {% partial 'product' order=order obOrderPosition=obOrderPosition %}
{% endfor %}

{% partial 'orderSummary' order=order %}



{{ url("/") }}
