subject = "Ссылка для восстановления пароля"
description = "Пользователь запросил восстановление пароля"
==
# Здравствуйте, {{ first_name }}!

Вы получили это письмо, потому что для вашей учётной записи запросили восстановление пароля. Если это были не вы, письмо можно просто проигнорировать.

{% partial 'button' url=url body %}
Сменить пароль
{% endpartial %}

Ссылка будет действительна {{ count }} минут.

{% partial 'subcopy' body %}
Если кнопка не работает, скопируйте ссылку ниже и вставьте её в адресную строку браузера.

<span class="break-all">{{ url|raw }}</span>
{% endpartial %}
