subject = "Заявка салона - {{ salon_name|raw }}"
description = "Заявка салона с сайта, отправленная менеджерам магазина"
==
# {{ salon_name }}

**Имя и фамилия**<br>
{{ name }}

**Электронная почта**<br>
[{{ email }}](mailto:{{ email }})

**Номер телефона**<br>
<a href="tel:{{ phone|replace({' ': ''}) }}">{{ phone }}</a>

**Адрес салона**<br>
{{ salon_address }}

**Количество мастеров маникюра в салоне**<br>
{{ number_of_masters }}

**С какими брендами по уходу за ногтями работает ваш салон?**<br>
{{ current_product_list|nl2br }}

**Вы уже работаете с какими-либо продуктами NAILS cosmetics?**<br>
{{ product_list|nl2br }}

**Вы также предлагаете услуги по наращиванию ногтей?**<br>
{{ nail_extensions }}

**Есть ли в салоне другие косметические процедуры? Какие?**<br>
{{ other_treatment_list|nl2br }}

**Ссылка на профиль компании**<br>
{{ profile_link }}

**Каков средний примерный размер ежемесячного заказа?**<br>
{{ order_plan }}
