subject = "Link zum Zurücksetzen des Passworts"
description = "Benutzer hat eine Passwortwiederherstellung angefordert"
==
# Hallo {{ first_name }}

Sie erhalten diese E-Mail, weil für Ihr Konto ein neues Passwort angefordert wurde. Falls Sie das nicht waren, können Sie diese E-Mail einfach ignorieren.

{% partial 'button' url=url body %}
Passwort zurücksetzen
{% endpartial %}

Der Link ist {{ count }} Minuten gültig.

{% partial 'subcopy' body %}
Falls die Schaltfläche nicht funktioniert, kopieren Sie den folgenden Link in Ihren Browser.

<span class="break-all">{{ url|raw }}</span>
{% endpartial %}
