subject = "Par Jūsu rezervāciju Meistaru dienām ({{ location_name|raw }})!"
description = "Paziņo Meistaru dienu dalībniekam, ka pieteikums ir dzēsts, un kā pieteikties no jauna"
==
Sveiki, {{ name|default('cienījamais klient') }}!

Mēs vēlamies Jūs informēt, ka Jūsu pieteikums dalībai **Meistaru dienās "{{ location_name }}" ir dzēsts.**

Tas varēja notikt kāda no šiem iemesliem dēļ:

1. Jūs atcēlāt savu dalību Meistaru dienās;
2. Jūs neapstiprinājāt savu pieteikumu noteiktajā laikā, līdz ar to tas tika dzēsts automātiski.

Ja Jūs tomēr vēlētos piedalīties Meistaru dienās, lūdzu, veiciet jaunu pieteikumu, ja vēl ir pieejamas brīvas vietas:

[Reģistrēties no jauna]({{ register_link|raw }})

Jūs varat pārbaudīt savas rezervācijas statusu šeit (ja nepieciešams):
[Pārbaudīt rezervāciju]({{ checker_link|raw }})

Jauku dienu vēlot,<br>
NAILS cosmetics
