subject = "Atgādinājums par Jūsu rezervāciju Meistaru dienām ({{ event|raw }})!"
description = "Aicina Meistaru dienu dalībnieku apstiprināt vai atteikt ierašanos, jo grupa ir pilna"
==
Sveiki,

Paldies, ka pieteicāties **Meistaru dienām {{ event }}**.

Tā kā **grupa jau ir pilna**, būsim ļoti pateicīgi, ja apstiprināsiet vai atteiksiet savu ierašanos, izmantojot šo saiti:

👉 [Apstiprināt vai atteikt ierašanos]({{ confirmation_link|raw }})

Tas mums palīdzēs **plānot brīvo vietu skaitu** un dot iespēju pieteikties tiem, kuri vēl nepaspēja!
🫶

Ar cieņu,<br>
**NAILS cosmetics**
