subject = "Paroles atjaunošanas saite"
description = "Lietotājs pieprasīja paroles atjaunošanu"
==
# Sveiki, {{ first_name }}!

Šo vēstuli saņemat tāpēc, ka jūsu kontam tika pieprasīta paroles atjaunošana. Ja to nedarījāt jūs, vēstuli var droši ignorēt.

{% partial 'button' url=url body %}
Atjaunot paroli
{% endpartial %}

Saite būs derīga {{ count }} minūtes.

{% partial 'subcopy' body %}
Ja poga nedarbojas, nokopējiet zemāk esošo saiti un ielīmējiet to pārlūkprogrammā.

<span class="break-all">{{ url|raw }}</span>
{% endpartial %}
